{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart_detail">
	<thead>
		<tr>
			<th>Image</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Remove</th>
			<th>Unit price</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		{% for item in cart %}
		{% with product=item.product %}
		<tr>
			<td>
				{% thumbnail product.image "300x200" crop="center" as im %} 
				<img alt="" class="img-responsive" src="{{ im.url }}" width="{{im.width}}"
				height="{{ im.height }}"> 
				{% endthumbnail %}

			</td>
			<a href="{{ product.get_absolute_url }}"><td>{{ product.name }}</td></a>
			<td>
				<form action="{% url "cart:add_cart" product.id %}" method="post">
					{% csrf_token %}
						<div class="align_update">
						{{ item.update_quantity_form.quantity }}
						{{ item.update_quantity_form.update }}
						</div>
						<input type="submit" class="btn btn-success pull-left" value="Update">
					
				</form>
			</td>
			<td><a href="{% url "cart:cart_remove" product.id%}">Remove</a></td>
			<td class="num">${{ item.price }}</td>
			<td class="num">${{ item.total_price }}</td>
		</tr>
		{% endwith %}
		{% endfor %}
		<tr class="total">
			<td>Total</td>
			<td colspan="4"></td>
			<td class="num">${{ cart.get_total_price }}</td>
		</tr>
	</tbody>
</table>
<p>
	<a  href="{% url "shop:product_list" %}"><button type="button" class="btn btn-primary continueshopbtn">Continue shopping</button></a>
	<a href="{% url "orders:order_create" %}">
		<button type="button" class="btn btn-success checkoutbtn pull-right">Checkout</button>
	</a>
</p>
{% endblock %}