{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<h1>Checkout</h1>

<div>
	<h3>Your order</h3>
	<table>
		<thead>
			<tr>
				<th>Image</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Unit price</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			{% for item in cart %}
			{% with product=item.product %}
			<tr>
				<td>image here</td>
				<td>{{ product.name }}</td>
				<td class="num">{{ item.quantity }}</td>
				<td class="num">${{ item.price }}</td>
				<td class="num">${{ item.total_price }}</td>
			</tr>
			{% endwith %}
			{% endfor %}
			<tr class="total">
				<td>Total</td>
				<td colspan="3"></td>
				<td class="num">${{ cart.get_total_price }}</td>
			</tr>
		</tbody>
	</table>
	<p>Total: ${{ cart.get_total_price }}</p>
</div>

<form action="." method="post" class="order-form">
	{{ form|crispy }}
	<p><input type="submit" class="btn btn-success" value="Place order"></p>
	{% csrf_token %}
</form>
{% endblock %}