{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="product-detail">
		<img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="pic here">
		<h1>{{ product.name }}</h1>
		<h2>
		<a href="{{ product.category.get_absolute_url }}">
		{{ product.category }}
		</a></h2>
		<div>
			<form action="{% url "cart:add_cart" product.id %}" method="POST">
			{% csrf_token %}
			{{ cart_add_form.as_p }}
			<input type="submit" name="submit" value="Add to cart">
			</form>
		</div>
		<p class="price">${{ product.price }}</p>
		{{ product.description|linebreaks }}
</div>
{% endblock %}